@import "tailwindcss";

/* animations.css */
@keyframes fadeBg {
  0% {
    background-color: #1f2937; /* gray-800 */
  }
  100% {
    background-color: #2563eb; /* blue-600 */
  }
}

.bg-transition {
  animation: fadeBg 0.5s ease-in-out forwards;
}
